#form {
    text-align: center;
    position: relative;
    top: 11em;
}

#city {
    font-size: 4em;
    color: brown;
}

#cityInput {
    width: 9em;
    padding: 0.5em;
    font-size: 2em;
}

button {
    font-size: 2em;
    color: green;
    background: black;
    width: 2em;
    border-radius: 30%;
    cursor: pointer;
}